<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
{% block head_style %}
{# Add your own bundles css here, to get them generated into final files #}
{% stylesheets filter='lessphp,cssembed,?yui_css'
                                    '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
	    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"
              media="screen" />
{% endstylesheets %}
{% endblock head_style %}


        <title>{% block title %}{{attachment.originalFileName}}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="well">
            <p>{{attachment.originalFileName}}</p>

    {%block media%}
    {%endblock media%}        
        </div>
    </body>
</html>